spring:
  application:
    name: toy-project
  datasource:
    url: jdbc:mysql://localhost:3306/toy_project1?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 1111

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug